<html xmlns:nevow="http://nevow.com/ns/nevow/0.1">
<head nevow:render="head" />
<body>
    <div nevow:render="header" />

    <h1>TZMud Web Interface</h1>
    <h2>New, and Improved!</h2>

    <h3 nevow:data="trial" nevow:render="data">(replace)</h3>

    <div class="players">
    <h3>Players</h3>
    <div nevow:data="players" nevow:render="idtable_sortid" />
    </div>

    <div class="rooms">
    <h3>Rooms</h3>
    <div nevow:data="rooms" nevow:render="idtable_sortalpha" />
    </div>

    <br clear="all" />
    <a href="NON">LINK COLOR</a>

    <div nevow:render="footer" />
</body>
</html>
