/*
# Copyright 2008 Lee Harr
#
# This file is part of TZMud.
#
# TZMud is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# TZMud is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with TZMud.  If not, see <http://www.gnu.org/licenses/>.
*/


body{
    background-color: #D1CAA2;
}

.lt{
    text-align: left;
}
.rt{
    text-align: right;
}

a{
    color: #293F8E;
}
a:hover{
    color: white;
}
a:visited{
    color: #3451B7;
}
a:visited:hover{
    color: white;
}

h1{
    text-align: center;
    color: #203270;
}
h2{
    text-align: center;
}
h2.section{
    text-align: left;
    color: white;
    background-color: #2F4F50;
    padding-left: 2em;
    font-size: 120%;
}

table.center{
    margin-left: auto;
    margin-right: auto;
}

div.header{
    background-color: black;
    margin-bottom: 1em;
}
div.header a{
    color: #8EAEFF;
}
div.header a:visited{
    color: #8EAEFF;
}

div.footer{
    background-color: black;
    text-align: center;
}
div.footer a{
    color: #8EAEFF;
}
div.footer a:visited{
    color: #8EAEFF;
}


div.errmsg{
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #B73E40;
    border: thin solid black;
}

div.leftcol{
    width: 45%;
    float: left;
    padding: 0;
}

div.index_players{
    border: thin solid black;
    padding-left: 25px;
    margin-bottom: 1em;
}

div.index_mobs{
    border: thin solid black;
    padding-left: 25px;
    margin-bottom: 1em;
}

div.index_items{
    border: thin solid black;
    padding-left: 25px;
}

div.index_rooms{
    border: thin solid black;
    width: 45%;
    float: right;
    padding: 0;
    padding-left: 25px;
}

td.roomtzid{
    text-align:right;
    width: 3em;
}
td.roomname{
    padding-left: 1em;
}

td.tzid{
    text-align:right;
    width: 3em;
}
td.text{
    padding-left: 1em;
}
td.text2{
    padding-left: 3em;
}
td.textlabel{
    text-align:right;
    padding-right: 1em;
}


td.objtzid{
    text-align:right;
    padding-right: 1em;
}
td.objname{
    padding-left: 1em;
}

td{
    padding-left: 3px;
    padding-right: 3px;
}
td.empty{
    height: 1em;
}

table{
    border-collapse: collapse;
}

.normal{
}
.warn{
    background-color: #9E9E48;
}

p.clsinfo{
    border: thin solid black;
    width: 60%;
    margin: auto;
    padding: 1em;
    margin-bottom: 2em;
}

div.addroom{
    width: 100%;
    margin: auto;
    text-align: center;
}

span.deletelink{
    color: yellow;
    background-color: red;
    border: thin solid black;
    text-align: center;
    padding: 0 10px 0 10px;
}
span.deletelink a{
    color: yellow;
}
span.deletelink a:hover{
    color: white;
}

span.editlink{
    color: black;
    background-color: #1CB93B;
    border: thin solid black;
    text-align: center;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    margin-right: 1em;
}
a span.editlink{
    color: black;
}
a:hover span.editlink{
    color: #0D571C;
}

input.error{
    background-color: #ffbbbb;
}
td.textlabel_error{
    text-align:right;
    padding-right: 1em;
    color: red;
}